<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <title>Pokedex</title>
</head>

<body>
    <div class="container">
        <h1>Pokedex</h1>
        <nav>
            <a href="/pokemon/new"><button>Create a New Pokemon</button></a>
        </nav>

        <% for (let i=0; i < 8; i +=1) { %>
            <div class="cards">
                <p class="name">
                    <%= data[i].name %>
                </p>
                <a href="/pokemon/<%=i%>">
                    <img src="<%= data[i].img %> " alt="" style="width:80px; height:100%; border:0">
                </a></br>
                <div class="buttons">
                    <a href="/pokemon/<%=i%>/edit"><button id="edit">Edit</button></a>
                    <form action="/pokemon/<%=i%>?_method=DELETE" method="POST">
                        <input id="delete" type="submit" value="Delete" />
                    </form>
                </div>
                <% } %>
            </div>
    </div>

    <style type="text/css">
        body {
            color: rgb(35, 134, 177);
            background-color: white;
            font-family: serif;
            font-size: 20px;

        }

        .cards {
            display: flex;
            flex-wrap: wrap;
        }


        #edit,
        #delete {
            color: rgb(35, 134, 177);
            font-family: serif;
        }
    </style>

</body>

</html>